
<!-- TASK TABLE task_id, task_name, task_description, task_day, task_month, task_year, task_value, task_credit_debit, user, label -->
<main>
    <div style="display: inline-table;">
        <h2>Welcome back, {{ account['username'] }}. Here your today tasks:</h2>
    </div>

    {% extends 'layouts/layout.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}

    <div style = "border-radius: 10px;">
        <div class="wrapper">
            <!-- Week Days: 'Monday', 'Tuesday' etc. -->
            {% for d in range(0,7) %}
            <div class="wrapper-weekday">
                <p>{{ week_days[d] }}</p>
            </div>
            {% endfor %}

            <!-- Every day of month -->
            {% for week in days_month %}
                {% for day in week %}
                    {% if day != 0 %}
                        <div class="box">
                            <div class="box_day">
                                <h4 class="my-0 fw-normal">{{day}} / {{month}}</h4>
                            </div>

                        {% if day in day_and_tasks %}
                            <div class="tasks_day">
                                <!-- Display tasks of day. -->
                                {% for dtask in day_and_tasks[day] %}
                                <button id="{{ dtask[0] }}" type="button" class="button-5 common">
                                {{ dtask[1] }} <br />
                                </button>
                        {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                    {% else %}
                        <div class="wrapper-day"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="fab-container">
            <div class="button iconbutton new_task">
                <i class="bi bi-plus"></i>
            </div>
        </div>

        <div id="div_task" class="centered centeredbox" style="visibility:hidden"></div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $('.common').click(clickTask)
    $('.new_task').click(newTask)
    //$('.box').click(newTask)

    function newTask() {
        var user_id = "{{ account['id'] }}";

        $.ajax({
            url: "/mensalplanner/new_task",
            type: "get",
            data: { user: user_id },
            success: function (response) {
                $("#div_task").html(response);
                $('div#div_task').css('visibility', 'visible');
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function clickTask() {
        var task_id = this.id;

        $.ajax({
            url: "/mensalplanner/view_task",
            type: "get",
            data: { jsdata: task_id },
            success: function (response) {
                $("#div_task").html(response);
                $('div#div_task').css('visibility', 'visible');
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }



</script>

<script type="application/javascript">
     function hidden_show_update(button, div_first, div_second) {
         var button    = document.getElementById(button);

         var element_first  = document.getElementById(div_first);
         var element_second = document.getElementById(div_second);

         var hidden_first  = element_first.getAttribute("hidden");
         var hidden_second = element_second.getAttribute("hidden");

         console.log(hidden_first);

         if (hidden_first) {
             element_first.removeAttribute("hidden");
         } else {
             element_first.setAttribute("hidden", "hidden");
         }

         if (hidden_second) {
             element_second.removeAttribute("hidden");
             button.setAttribute("hidden", "hidden");
         } else {
             element_second.setAttribute("hidden", "hidden");
         }
     }
</script>


{% endblock %}