<!-- TABLE task -> task_id, task_name, task_description, task_datetime, task_day, task_month, task_year, task_value, task_credit_debit, user, label -->

<a href="/mensalplanner/home" class="modal__close">CLOSE &times;</a>
<form action="{{ url_for('insert_newTask') }}" method="post">
    <fieldset>
        <legend><span class="number">1</span> New task info</legend>

        <input type="text" name="user_id" value="{{ user_id }}" id="user_id" hidden="hidden">
        <input type="text" id="task_name" name="task_name" placeholder="Task Name">

        <label for="task_desc">Task Description</label>
        <textarea id="task_desc" name="task_desc"></textarea>

        <label for="task_value">Value</label>
        <input type="number" id="task_value" name="task_value">

        <label>Date</label>
        <input type="date" id="task_date" name="task_date">

        <label>Debit or Credit?</label>
        <input type="radio" id="0" value="0" name="task_debcred"><label for="under_13" class="light">Debit</label><br>
        <input type="radio" id="1" value="1" name="task_debcred"><label for="over_13" class="light">Credit</label>
    </fieldset>

    <input type="submit" class="button-38" value="NEW TASK">
</form>


