<!-- task_id, task_name, task_description, task_datetime, task_user, task_label -->
<div>
    <div id="div_details" class="modal__content" data-closable>
        <a href="/mensalplanner/home" class="modal__close">CLOSE &times;</a>

        <h1>{{ task_details[1] }}</h1>
        <p>{{ task_details[2] }}</p>

        <!--<input type="submit" id="button_update" onclick="hidden_show_update()">-->
        <button id="button_update" class="button-38" onclick="hidden_show_update('button_update', 'div_details', 'div_update')">UPDATE TASK</button>
        <button id="button_remove" class="button-38" onclick="">REMOVE TASK</button>
    </div>
</div>

<div id="div_update" class="modal__content" hidden="hidden">
    <a href="/mensalplanner/home" class="modal__close">CLOSE &times;</a>

    <form action="{{ url_for('update_task') }}" method="post">
        <input type="text" name="task_id" value="{{ task_details[0] }}" id="task_id" hidden="hidden">

        <label for="task_name">Name: </label>
        <input type="text" name="task_name" value="{{ task_details[1] }}" id="task_name"> <br>

        <label for="task_desc">Description</label>
        <input type="text" name="task_desc" value="{{ task_details[2] }}" id="task_desc">

        <input type="submit" class="button-38" value="UPDATE">
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $('#button_remove').click(click_remove)

    function click_remove() {
        var task_id = {{ task_details[0] }};

        if (confirm('Do you confirm delete ' + '?')) {
            $.ajax({
                url: "/mensalplanner/remove_task",
                type: "get",
                data: { jsdata: task_id},
                success: function () {
                    window.location.replace("/mensalplanner/home")
                },
                error: function (xhr) {
                    //Do Something to handle error
                }});
        } else {
            alert('Why did you press cancel? You should have confirmed');
        }
    }
</script>
