<!-- TABLE task -> task_id, task_name, task_description, task_day, task_month, task_year, task_value, task_credit_debit, user, label -->

<a href="{{ url_for('home') }}" class="modal__close">X</a>
<form action="{{ url_for('update_task') }}" class="form_task" method="post">
    <fieldset>
        <!-- TASK name -->
        <legend><span class="number">1</span> {{task_details[1]}} </legend>

        <!-- TASK id hidden -->
        <input type="text" name="task_id" value="{{ task_details[0] }}" id="task_id" hidden="hidden">

        <!-- TASK name -->
        <input type="text" id="task_name" name="task_name" value="{{task_details[1]}}" placeholder="Task Name">

        <!-- TASK description -->
        <label for="task_desc">Task Description</label>
        <textarea id="task_desc" name="task_desc">{{task_details[2]}}</textarea>

        <!-- TASK value -->
        <label for="task_value">Value</label>
        <input type="number" id="task_value" name="task_value" value="{{task_details[6]}}" placeholder="{{task_details[6]}}">

        <!-- TASK date -->
        <label>Date</label>
        <input type="date" id="task_date" name="task_date" value="{{task_date}}">

        <!-- TASK deb/cred -->
        <label>Debit or Credit?</label>
        
        {% if task_details[7] == 0 %}
            <input type="radio" id="0" value="0" name="task_debcred" checked><label for="task_debcred" class="light">Credit</label><br>
            <input type="radio" id="1" value="1" name="task_debcred"><label for="task_debcred" class="light">Debit</label>
        {% else %}
            <input type="radio" id="0" value="0" name="task_debcred"><label for="task_debcred" class="light">Credit</label><br>
            <input type="radio" id="1" value="1" name="task_debcred" checked><label for="task_debcred" class="light">Debit</label>
        {% endif %}

    </fieldset>

    <input type="submit" id="button_update" class="button-38" name="update_task" value="UPDATE TASK">
    <input type="submit" id="button_remove" class="button-38" name="remove_task" value="REMOVE TASK">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $('#button_remove').click(click_remove)

    function click_remove() {
        var task_id = {{ task_details[0] }};

        if (confirm('Do you confirm delete ' + '?')) {
            $.ajax({
                url: "/mensalplanner/remove_task",
                type: "get",
                data: { jsdata: task_id},
                success: function () {
                    window.location.replace("/mensalplanner/home")
                },
                error: function (xhr) {
                    //Do Something to handle error
                }});
        } else {
            alert('Why did you press cancel? You should have confirmed');
        }
    }
</script>
