{% extends 'layouts/layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div style="position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%);">
    <h2>Profile Page</h2>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>

    <!-- Update section @TODO -->
    <div class="update">
        <form action="" method="post">
            <input type="submit" value="Update">
        </form>
    </div>
</div>

{% endblock %}