* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #435165;
    margin: 0;
}

/* TEST */
/*h1, h2 {
    font-family: Alegreya, serif;
}

h1 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
} */


/*@supports (display: grid) {
    h1:before,
    h1:after {
        content: "";
        align-self: center;
        border-top: 1px solid #999;
    }
}*/


.parent {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.centeredbox {
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /*background: linear-gradient(, #4A00E0, #8E2DE2);*/
}


.modal__content {
    border-radius: 4px;
    position: relative;
    width: 450px;
    height: 450px;
    max-width: 100%;
    background: cornflowerblue;
    padding: 4em 2em;
}

.modal__footer {
    text-align: right;
    a

{
    color: #585858;
}

i {
    color: #d02d2c;
}

}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

/* BOX FOR DAY's */
.box {
    text-align: center;
    align-items: center;
    align-content: center;
    align-items: center;
    color: #fff;
    /* padding: 2rem; */
    max-width: 30rem;
    background: #252525;
    position: relative;
    box-shadow: aqua;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
}

[data-interactive]:hover,
[data-interactive]:focus-within {
    background: #111111;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
    transform: translateY(-0.5rem);
}

.box > * + * {
    margin-top: 1em;
}


/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    /*min-height: 3rem;*/
    padding: calc(.175rem - 1px) calc(0.8rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}


.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.grid-container {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    width:max-content;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.grid-child-day{
    background-color: lightslategray;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: 40px 200px 200px 200px 200px 200px 200px 50px;
}

.wrapper-day {
    background-color: aliceblue;
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 10%);
    text-align:-webkit-center;
}

.wrapper-weekday {
    color:aliceblue;
    background-color: lightsalmon;
    display: grid;
    grid-auto-rows: 40px;
    margin-top: auto;
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 50%);
    text-align: center;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

/* CSS */
.button-38 {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-38:hover {
    background-color: rgb(249,250,251);
}

.button-38:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-38:focus-visible {
    box-shadow: none;
}




/* TEST */

.login, .register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

    .login h1, .register h1 {
        text-align: center;
        color: #5b6574;
        font-size: 24px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #dee0e4;
    }

    .login .links, .register .links {
        display: flex;
        padding: 0 15px;
    }

        .login .links a, .register .links a {
            color: #adb2ba;
            text-decoration: none;
            display: inline-flex;
            padding: 0 10px 10px 10px;
            font-weight: bold;
        }

            .login .links a:hover, .register .links a:hover {
                color: #9da3ac;
            }

            .login .links a.active, .register .links a.active {
                border-bottom: 3px solid #3274d6;
                color: #3274d6;
            }

    .login form, .register form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }

        .login form label, .register form label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #3274d6;
            color: #ffffff;
        }

        .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
            width: 310px;
            height: 50px;
            border: 1px solid #dee0e4;
            margin-bottom: 20px;
            padding: 0 15px;
        }

        .login form input[type="submit"], .register form input[type="submit"], .update form input[type="submit"] {
            width: 100%;
            padding: 15px;
            margin-top: 20px;
            background-color: #3274d6;
            border: 0;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
            transition: background-color 0.2s;
        }

            .login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
                background-color: #2868c7;
                transition: background-color 0.2s;
            }

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}

    .navtop div {
        display: flex;
        margin: 0 auto;
        width: 1000px;
        height: 100%;
    }

        .navtop div h1, .navtop div a {
            display: inline-flex;
            align-items: center;
        }

        .navtop div h1 {
            flex: 1;
            font-size: 24px;
            padding: 0;
            margin: 0;
            color: #eaebed;
            font-weight: normal;
        }

        .navtop div a {
            padding: 0 20px;
            text-decoration: none;
            color: #c1c4c8;
            font-weight: bold;
        }

            .navtop div a i {
                padding: 2px 8px 0 0;
            }

            .navtop div a:hover {
                color: #eaebed;
            }

body.loggedin {
    background-color: #f3f4f7;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

    .content h2 {
        margin: 0;
        padding: 25px 0;
        font-size: 22px;
        border-bottom: 1px solid #e0e0e3;
        color: #4a536e;
    }

    .content > p, .content > div {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        margin: 25px 0;
        padding: 25px;
        background-color: #fff;
    }

        .content > p table td, .content > div table td {
            padding: 5px;
        }

            .content > p table td:first-child, .content > div table td:first-child {
                font-weight: bold;
                color: #4a536e;
                padding-right: 15px;
            }

        .content > div p {
            padding: 5px;
            margin: 0 0 10px 0;
        }
