<!-- TABLE task -> task_id, task_name, task_description, task_datetime, task_day, task_month, task_year, task_value, task_credit_debit, user, label -->
<div>
    <div id="div_details" class="modal__content" data-closable>
        <a href="/mensalplanner/home" class="modal__close">CLOSE &times;</a>

        <form action="{{ url_for('insert_newTask') }}" method="post">
            <input type="text" name="user_id" value="{{ user_id }}" id="user_id" hidden="hidden">

            <label for="task_name">Name: </label>
            <input type="text" name="task_name" value="" id="task_name" required> <br>

            <label for="task_desc">Description</label>
            <input type="text" name="task_desc" value="" id="task_desc" required> <br>

            <label for="task_day">Day</label>
            <input type="number" name="task_day" value="{{day}}" id="task_day" required> <br>

            <label for="task_month">Month</label>
            <input type="number" name="task_month" value="{{month}}" id="task_month" required> <br>

            <label for="task_year">Year</label>
            <input type="number" name="task_year" value="{{year}}" id="task_year" required> <br>

            <label for="task_value">Value</label>
            <input type="number" name="task_value" value="" id="task_value" required> <br>

            <label for="task_debcred">Debit / Credit</label>
            <input type="text" name="task_debcred" value="" id="task_debcred" required> <br>

            <input type="submit" class="button-38" value="NEW TASK">
        </form>
    </div>
</div>

