<!-- task_id, task_name, task_description, task_datetime, task_user, task_label -->
<div id="div_0">
    <form action="" method="post">
        <label for="task_name">
            <i class="fas fa-user"></i> {{ task_details[1] }}<br>
        </label>

        <label for="task_desc">
            <i class="fas fa-lock"></i> {{ task_details[2] }}<br>
        </label>

        <label for="task_label">
            <i class="fas fa-lock"></i> {{ task_details[4] }}<br>
        </label>
    </form>
</div>


<div id="div_1" hidden="hidden">
    <form action="{{ url_for('update_task') }}" method="post">
        <input type="text" name="task_id" value="{{ task_details[0] }}" id="task_id" hidden="hidden">

        <label for="task_name">Name: </label>
        <input type="text" name="task_name" value = "{{ task_details[1] }}" id="task_name">

        <label for="task_desc">Description</label>
        <input type="text" name="task_desc" value = "{{ task_details[2] }}" id="task_desc">

        <input type="submit" value="Submit">
    </form>
</div>

<button id="button_update" onclick="hidden_show()">TESTE</button>

<script type="application/javascript">
    function hidden_show() {
        var button    = document.getElementById("button_update");

        var element_0 = document.getElementById("div_0");
        var element_1 = document.getElementById("div_1");
        var hidden_0  = element_0.getAttribute("hidden");
        var hidden_1  = element_1.getAttribute("hidden");

        console.log(hidden_1);

        if (hidden_0) {
            element_0.removeAttribute("hidden");
        } else {
            element_0.setAttribute("hidden", "hidden");
        }

        if (hidden_1) {
            element_1.removeAttribute("hidden");
            button.setAttribute("hidden", "hidden");
        } else {
            element_1.setAttribute("hidden", "hidden");
        }
    }
</script>